<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #fff">
    </span>
    <span class="sg-label icon">
      $default-color </br>
      #fff
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #9a9a9a">
    </span>
    <span class="sg-label icon">
      $color-gray-01 </br>
      #9a9a9a
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #808080">
    </span>
    <span class="sg-label icon">
      $color-gray-02 </br>
      #808080
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #666">
    </span>
    <span class="sg-label icon">
      $color-gray-03 </br>
      #666
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #292929">
    </span>
    <span class="sg-label icon">
      $color-gray-04 </br>
      #292929
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #333333">
    </span>
    <span class="sg-label icon">
      $color-gray-05 </br>
      #333333
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #00bbec">
    </span>
    <span class="sg-label icon">
      $primary-color </br>
      #00bbec
    </span>
  </li>
</ul>
